{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contraseña restablecida</title>

  <!-- CSS global -->
  <link rel="stylesheet" href="{% static 'public/registro_usuario/css/main.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" referrerpolicy="no-referrer">
  <link rel="stylesheet" href="{% static 'public/recuperar-password/css/main.css' %}">

  <!-- Redirección automática -->
  <script>
    setTimeout(() => {
      window.location.href = "{% url 'index' %}";
    }, 3000); // redirige en 3 segundos
  </script>
</head>
<body>

<header>
  <div class="header-left">
    <a href="{% url 'index' %}">
      <img src="{% static 'images/NowHere.svg' %}" id="Logo" class="fade-in" alt="NöwHėrē">
    </a>
    <h2>| Creación de cuenta N:</h2>
  </div>
</header>

<main>
  <section class="recovery-section">
    <h1>✅ Contraseña actualizada con éxito</h1>
    <p>Tu contraseña ha sido cambiada exitosamente. Serás redirigido al inicio.</p>
  </section>
</main>


</body>
</html>
