
/*---Seccion para importar reset que tiene los atributos generales---*/
@import url('/static/public/detalles_producto/css/detalles.css');

@import url('/static/public/inicio/css/wishlist.css');

@import url('/static/public/detalles_producto/css/media\ queries.css');

@import url('/static/public/inicio/css/header.css');