 /* ========== CONTENIDO PRINCIPAL  ========== */
    main{
        max-width:var(--width-max);
        margin:72px auto 0;
        padding:0 1rem 4rem;}

    h1{
        font-size:10px;
        margin-bottom:.75rem;
    }

    .lead{
        max-width:38rem;
        margin-bottom:1.8rem;
        line-height:1.4;
        font-size: 12px;
    }

    .switch-login{
        margin-bottom:.5rem;
        font-size: 10px;
    }

    .switch-login a{color:var(--c-text);
        text-decoration:underline;
    }

    .req-note{
        float:right;
        font-size:.55rem;
        color:var(--c-grey);
    }

    /* ========= FORMULARIO a dos columnas ========= */
    form{
      display:grid;
      grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
      gap:.5rem 1.5rem;
      font-size: 10px;

    }
    label{display:block;
        margin-bottom:.35rem;
        font-size:.57rem;
    }

    input,select{
      width:100%;
      padding:.5rem .45rem;
      font-size:.50rem;
      border:1px solid;
      border-radius:4px;
      background:#fff;
      transition:border-color .2s;
    }

    input:focus,select:focus{
        outline:none;
        border-color:var(--c-text);
    }

    /* wrapper contraseña con botón ojo */
    .pwd-wrapper{
        position:relative;
    }
    .pwd-wrapper button{
      position:absolute;
      right:.9rem;
      top:50%;
      translate:0 -50%;
      background:none;
      border:0;color:var(--c-grey);
      cursor:pointer;
      font-size:1rem;
    }

    /* check-marketing ocupa fila completa */
    .chk-line{grid-column:1/-1;
        display:flex;
        align-items:flex-start;
        gap:.6rem;font-size:.9rem;
    }
    .chk-line input{
        margin-top:.15rem;
        accent-color:var(--c-text);
    }

    /* acciones */
    .actions{
        grid-column:1/-1;
        margin-top:1.5rem
    }

    .btn-primary{
      padding:1rem 3rem;
      font-size:1rem;font-weight:600;
      background:var(--c-text);
      color:#fff;border:0;
      border-radius:4px;
      cursor:pointer;
    }

    /* ========= ESTADO DE ERROR (borde rojo + mensaje) ========= */
    .is-invalid{
        border-color:var(--c-danger) !important;
    }

    .error-msg{color:var(--c-danger);
        font-size:.8rem;
        margin-top:.3rem;
    }

    /* =========  RESPONSIVE  (una columna) ========= */
    @media(max-width:600px){
      form{
        grid-template-columns:1fr;
    }

      .req-note{float:none;
        display:block;
        margin-top:.5rem;
    }

      header img{
        width:100px;
    }

      header h2{
        display:none;
    }
    }
